@model List<Feature>


@if (ViewBag.featureCount <= 6)
{
    <a class="btn btn-success mt-5 mb-4 " style=" width: 10%;" href="/dashboard/feature/create">Create</a>
}

@if (Model != null)
{


    <table class="table table-bordered table-striped table-dark mb-5" style="color: #000;">
        <tr class="table-light">
            <th>Id</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Icon</th>
            <th>Action</th>

        </tr>

        @foreach (var feature in Model)
        {

            <tr style="font-weight:500; color:#fff;">
                <td>@feature.Id</td>
                <td>@feature.Title</td>
                <td style="white-space: pre-wrap">@feature.Subtitle</td>
                <td>
                    <i class="@feature.Icon fa-solid fa-brands " style="font-size: 30px; color:#1D809F;"></i>
                </td>
                <td>
                    <a href="/dashboard/feature/edit/@feature.Id" class="btn btn-warning btn-md ">Edit</a>
                    <a href="/dashboard/feature/details/@feature.Id" class="btn btn-info btn-md">Detail</a>
                    <a feature-value="@feature.Id" class="btn btnSave btn-danger btn-md">Delete</a>
                </td>
            </tr>
        }

    </table>

}
else
{
    <div class="alert alert-info">Bazada melumat yoxdur</div>
}

@section Scripts {
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $(".btnSave").click(function(e) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let featureId = e.currentTarget.attributes[0].value
                $.ajax({
                    method: "POST",
                    url: "feature/delete/",
                    data: {
                        id: featureId
                    }
                })
                Swal.fire({
                    title: 'Deleted',
                    text: "feature is delete!",
                    icon: 'success',

                }).then((result) => {
                    window.location = "feature"
                })

            }
        })
    })
</script>
}